/* Importando a fonte Orbitron do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Estilo para o corpo da página */
body {
    background-color: #0a0a23; /* Define a cor de fundo como um tom escuro */
    color: #ffffff; /* Define a cor do texto como branca */
    font-family: 'Orbitron', sans-serif; /* Aplica a fonte Orbitron ao texto */
    margin: 0; /* Remove as margens padrão da página */
    padding: 0; /* Remove os preenchimentos padrão da página */
    text-align: center; /* Centraliza o texto dentro do body */ 
} 

/* Estilo para o cabeçalho da página */
header {
    display: flex; /* Usa flexbox para organizar os elementos */
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 20px; /* Adiciona espaçamento interno ao cabeçalho */
    background: #0a0a2359; /* Mantém a cor de fundo igual à do body */
}

/* Estilização da seção de texto dentro do header */
.texto {
    display: flex; /* Usa flexbox */
    flex-direction: column; /* Organiza os itens em uma coluna */
    align-items: center; /* Centraliza os itens */
}

/* Estilização do título principal (h1) */
h1 {
    margin: 0; /* Remove margem para evitar espaçamento extra */
    font-size: 28px; /* Define o tamanho da fonte */
    font-family: "Bruno Ace", serif;

}

/* Estilo para o subtítulo do header */
.subtitulo {
    font-size: 10px; /* Define um tamanho pequeno para o subtítulo */
    color: aqua; /* Define a cor do texto como ciano */
    margin-top: 5px; /* Adiciona um pequeno espaçamento superior */

}

/* Estilização do contêiner da logo */
.logo {
    display: flex; /* Usa flexbox */
    align-items: center; /* Alinha os elementos verticalmente */
}

/* Estilo da imagem dentro da logo */
.logo img {
    width: 60px; /* Define a largura da imagem */
    margin-right: 10px; /* Adiciona um espaçamento à direita da imagem */

}


/* Estilo da lista de navegação */
nav ul {
    list-style: none; /* Remove os marcadores de lista */
    display: flex; /* Usa flexbox para organizar os itens horizontalmente */
    gap: 20px; /* Define um espaçamento entre os itens da lista */
}

/* Estilização dos links da navegação */
nav ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: whitesmoke; /* Define a cor do texto como ciano */
    font-weight: bold; /* Deixa o texto em negrito */   
    font-size: 18px;  /* Define o tamanho das letras*/
    padding: 10px;
    
}

nav ul li a:hover {
    border-bottom: 2px solid cyan; /* Efeito ao passar o mouse */

}

/* CADASTRO  */

h1{
    border-bottom: 2px solid cyan;
    
}